:root{
    /* Colors */
    /* Fonts */
}
*{
    /*Stuff to always do*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*Body stuff*/
    height:100vh;
}
.center{
    /*Center stuff*/
    display: flex;
    justify-content: center;
    align-items: center;
}
